@charset "utf-8";

*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style: none;}
a:link,a:visited{text-decoration: none; color: black;}
.clearfix:after{content: "";display: block;clear: both;}

.container{width: 980px;margin: 0 auto;}


.top{border-bottom: 1px solid #E3D9D9;}
.submenu{float: right; height: 26px;}
.submenu li{float: left;}
.submenu li a{
    display: block;
    font-size: 12px;
    padding: 0 10px;
    line-height: 26px;
    position: relative;
}